@import "common_styling.css";
/* to the current page */
.projects-nav{
    color: #ffa116!important;
    text-decoration: underline;
}
@media (max-width:1023px)
{
    .projects-nav{
        color: #ffa116!important;
    }
}

/* Carousel part */
@media (max-width:1023px) {
    .projects-container{
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        text-align: center;
    }
    .carousel-item{
        padding-top: calc(3vh);
        padding-bottom: calc(3vh);
    }
    .carousel-inner{
        text-align: center;
    }
    .amblem{
        width: calc(30vw);
        margin: auto;
        padding-top: 2%;
        padding-bottom: 10%;
    }
}
@media (min-width:1024px) {
    .projects-container{
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        text-align: center;
    }
    .carousel-item{
        padding-top: calc(3vh);
        padding-bottom: calc(3vh);
    }
    .carousel-inner{
        text-align: center;
    }
    .amblem{
        width: calc(15vw);
        margin: auto;
        padding-top: 2%;
        padding-bottom: 10%;
    }
}
.projects-container{
    animation : popup 0.3s ease-in-out;
}
@keyframes slideright {
    0%{
        opacity: 0%;
    }
    60%{
        opacity: 60%;;
    }
    100%{
        opacity: 100%;
    }
}
#bdy.light .carousel-control-next-icon{
    background-color: black;
    color: white;
}
#bdy.light .carousel-control-prev-icon{
    background-color: black;
    color: white;
}
#bdy.light .projects-nav{
    color: black!important;
}
#bdy.light  .sm-span-down{
    background-color: black;
}